body{
    background-color: rgb(23, 157, 161);
}
label{
    color: white;
}
button{
    background-color: white;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}
.solution {
    background-color: rgb(23, 157, 161);
    height: 100px;
    width: 450px;
}
h1{
    color: azure;

}
.hints {
    height: 100px;
    width: 120px;
    display: flex;
    flex-wrap: wrap;
}

div.instructions{
    height: 400px;
    width: 400px;
    position: absolute;
     right: 80px;
    top:100px;
    background-color: rgb(23, 157, 161);
    color:rgb(23, 157, 161);
    display: flex;
    flex-wrap: wrap;
   
   
}

.hints div{
    height: 50px;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: white;
}

.guess {
    height: 100px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    
}
.guess div{
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid; 
    border-color: rgb(23, 157, 161);
    
}

.blue {
    background-color: blue;
    border-radius: 50px;
}
.white{
    background-color: white;
    
}
.red{
    background-color: red;
    border-radius: 50px;
}
.yellow{
    background-color: yellow;
    border-radius: 50px;
}
.green{
    background-color: green;
    border-radius: 50px;
}

.purple{
    background-color: purple;
    border-radius: 50px;
}
.orange {
    background-color: orange;
  border-radius: 50px;
}
.pink {
    background-color: rgb(209, 38, 144);
    border-radius: 50px;
}

.whiteHint{
    background-color: white;

}

.blackHint{
    background-color: black;
}